<h1><%= @restaurant.name %></h1>
<p>Address: <%= @restaurant.address %></p>
<p>Phone Number: <%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %></p>

<p>Reviews: </p>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      Rating: <%= review.rating %>
      <%= review.content %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create a new review', new_restaurant_review_path(@restaurant) %>

<i class="fas fa-undo"></i>
<%= link_to 'Back to list', restaurants_path %>
